{% extends 'base.html' %}
{% block title %}
    Add Book
{% endblock %}
{% block meta_name %}
    <meta name="description" content="A form allowing to manually add a single book.">
{% endblock %}
{% block content %}
    <div class="container">
    <form method="post" class="add-book">
        Add book:
        {% csrf_token %}
        <div>{{ form.title }}</div>
        <div>{{ form.author }}</div>
        <div>{{ form.pub_lang }}</div>
        <div>
            {{ isbn_form.isbn_num }}
            {% if isbn_form.errors %}
            <div class="valid-error">
            {% for key, value in isbn_form.errors.items %}
            {{ value|striptags }}
            {% endfor %}
            </div>
            {% endif %}
        </div>
        <div>{{ form.pages }}</div>
        <div>{{ form.cover_link }}</div>
        <div>Published on:<br>
            {{ form.pub_date }}</div>
        <input type="submit" value="Add Book">
    </form>
    </div>
{% endblock %}