{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <form method="post" class="add-book">
        Add book:
        {% csrf_token %}
        <div>{{ form.title }}</div>
        <div>{{ form.author }}</div>
        <div>{{ form.pub_lang }}</div>
        <div>{{ isbn_form.isbn_num }}</div>
        <div>{{ form.pages }}</div>
        <div>{{ form.cover_link }}</div>
        <div>Published on:<br>
            {{ form.pub_date }}</div>
        <input type="submit" value="Add Book">
    </form>
    </div>
{% endblock %}