{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
    {% block meta_name %}{% endblock %}
</head>
<body>
    <nav class="menu-container">
        <!-- burger menu -->
        <input type="checkbox" aria-label="Toggle menu" class="toggle"/>
        <span></span>
        <span></span>
        <span></span>
         <div class="menu">
            <ul>
                <li><a href="/" class="nav-link">Books List</a></li></li>
                <li><a href="/add_book/" class="nav-link">Add Book</a></li>
                <li><a href="/import/" class="nav-link">Import Books</a></li>
                <li><a href="/books/api/" class="nav-link">Books API</a></li>
            </ul>
         </div>
         <div class="msg">
            {% block msg %}
            {% endblock %}
         </div>
    </nav>
{% block content %}
{% endblock %}
</body>
</html>