{% extends 'base.html' %}
{% block searchbar %}

{% endblock %}
{% block content %}
    <section>
        {% if books %}
        <div class="search-bar-container">
            <form method="post">
                {% csrf_token %}
                {{ form.search }}
                Published
                from:{{ form.date_from }}
                to:{{ form.date_to }}
                <input type="submit" value="search" class="search-btn">
            </form>
        </div>
        <div class="container">
        {% for book in books %}
            <div class="book-container">
                <div class="cover-container">
                    <div class="cover">
                        <div style="text-align: center">
                            {% if not book.cover_link %}
                            No Cover Available
                            {% else %}
                            <img src="{{ book.cover_link }}" aria-label="cover for {{ book.title }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div>
                        <strong class="title">
                        {{ book.title }}
                        </strong>
                    </div>
                    {% if book.author %}
                    <div>
                        <strong>Author:</strong> {{ book.author }}
                    </div>
                    {% endif %}
                    {% if book.pub_date %}
                    <div>
                        <strong>Published:</strong> {{ book.pub_date }}
                    </div>
                    {% endif %}
                    {% if book.pub_lang %}
                    <div>
                        <strong>Language:</strong> {{ book.pub_lang }}
                    </div>
                    {% endif %}
                    {% if book.pages %}
                    <div>
                        <strong>Pages:</strong>{{ book.pages }}
                    </div>
                    {% endif %}
                    {% for b in book.book_isbn.all %}
                        <strong>{{ b.isbn_type }}:</strong> {{ b.isbn_num }}<br/>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
        <div class="pagination">
            {% if books.has_previous %}
                <a href="?page={{ books.previous_page_number }}"><< prev</a>|
                {% else %}
                 |
            {% endif %}
            {% for page in books.paginator.page_range %}
                {%  if page == books.number %}
                {{ page }} |
                {% else %}
                <a href="?page={{ page }}">{{ page }} </a>|
                {% endif %}
            {% endfor %}
        {% if books.has_next %}
            <a href="?page={{ books.next_page_number }}">next >></a>
        {% else %}

        {% endif %}
        </div>
        {% endif %}
    </section>
{% endblock %}
{% block msg %}
    {{ error }}
{% endblock %}