{% extends 'base.html' %}
{% block title %}
    Import Books
{% endblock %}
{% block meta_name %}
    <meta name="description" content="Form allowing to import books from Google Books API">
{% endblock %}
{% block content %}
    <div class="container">
        <form method="post" class="add-book">
            Import Criteria:
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="import" value="Import">
        </form>
    </div>
{% endblock %}
{% block msg %}
{% if conf_msg %}
    {{ conf_msg }}
{% endif %}
{% endblock %}